@media screen and (min-device-width: 300px) and (max-device-width: 480px) {
  .menu-bar{
    display: none !important;
  }
  .hamburger{display: block;}
  #ham-nav{
    display: none;
  }
  .fa-burger:before, .fa-hamburger:before{
    font-size: 26px;
  }
  .ham-nav li{
    line-height: 3;
    font-size: 15px;
  }
  .menu ul li a{
    font-size: 16px;
  }
  .ham-nav{
    background: #3b0106;
    border-radius: 10px;
    padding: 30px 0px;
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    animation: ham 1s ease-in-out;
  }
  .menu ul li a:hover{
    color: #000000;

    font-weight: 800;
  }
  @keyframes ham {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .hamburger{
    padding-right: 20px;
  }
  .menu ul{
    margin: 0;
  }
  .icon-ham{
    display: flex;
    justify-content: end;
    padding: 30px 20px;
  }

  .hero-row{
    flex-direction: column;
    height: 755px;
  }
  .hero-row .col1 h1{
    font-size: 60px;
  }
  .hero-row .col2 img{
   top: 230px;
  }


  .hero-row .col1{
    width: 90%;
    z-index: 9;
  }
  .hero-row .col2{
    width: 100%;
  }
  .my-name{
    font-size: 75px !important;
    font-weight: 900;
  }


  .skill {
    padding: 30px 20px;
}
  .skill-bar{
    grid-template-columns: repeat(2,150px);
    display: grid;
    gap: 30px;
    justify-content: start;
    padding: 20px 10px;
  }
  .html {
    width: 50%;
    font-size: 12px;
    padding: 16px;
    height: 72px;
  }
  .html h2{
    font-size: 14px;
  }


  .project-index {
    grid-template-columns: repeat(1,330px) !important; }
    .projects img{
      height: 177px;
    }


    .conct-row{
      flex-direction: column-reverse;
    }
    .conct-col-1{
      width: 100% !important;
    }


    .contact-sec{
      padding:60px 30px;
    }
    .details{
      margin: 0 !important;
    }
    .details-col{
      padding: 10px 25px !important;
    }
    .form-val{
      margin: 0 !important;
    }
    .form-val input{
      padding: 14px !important;
    }
    .form-name :nth-child(2){
      margin-left: 8px !important;
    }
    .form-name .input{
      width: 38% !important;
    }
    .form-val .sbt-btn {
      width: 100%;
      font-size: 20px;
  }

    footer {
      font-size: 8px;
      padding: 25px 10px;
  }
}