*{
    padding: 0;
    margin: 0;
  }
body{
  font-family: 'Playfair Display', serif;
  background-color: rgba(248, 248, 248, 0.44);
}
/* header section starts */
.header{
  z-index: 2;
  background-color: transparent;
  position: fixed;
  width: 100%;
  transition: 1s;
  top: 0;
}

.full-height{
  background: linear-gradient(rgb(0 0 0 / 76%), rgb(0 0 0 / 40%)), url(./image/806425.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
.logo .nav-link{
  padding: 0;
}
.navigation ul li{
  transition: 0.9s;
  margin-right: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.navigation ul li a{
   color: #999;
   /* text-shadow: 2px 0px #999; */
   
}
.navigation ul li:hover{
  background: white;
  cursor: pointer;
  opacity: 0.5;
}
.navigation ul li a:hover{
  color: rgb(38 245 255 / 97%);
}
/* header section ends */


/* sub header section starts */
.head-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.head-banner h2{
  font-size: 18px;
  font-family: italic;
}
.head-banner::before{
 content: '';
 width: 80px;
 height: 3px;
 background-color: #333;
 position: relative;
 left: -90px;
 top: 20px;
}
.head-banner span{
  font-size: 25px;
  padding: 0px 12px;
  font-weight: 900;
  color: rgb(72 43 159);
  /* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
 
}
.head-banner p{
  margin: 0;
  font-size: 40px;
  opacity:0.5;
}
.sub-header{
    min-height: 100vh;
}
.blink{
  width: 6px;
  height: 40px;
  background: #aaa; 
  animation: blink 0.5s ease-in-out infinite;
  margin: 0px 8px;
}
@keyframes blink {
  0%{
      background: #ffffff;
  }
  50%{
      background: #000;
  }
  100%{
      background:#fff;
  }
}

.sub-header .btn{
  background: #2e1a4d;
  border: 1px solid white;
  border-radius:15px ;

}
.sub-header .btn {
  color: white;
}
.hero-image {
   width: 580px;
   top: -70px;
   position: fixed;
   right: 0px;
}
.hero-image img{
  
  opacity: 0.3;
  
}


/* sub header section starts */

.footer{
  z-index: 2;
}
.outer {
  margin: 50px;
}

.button {
  border: 1px solid #221658;
    border-radius: 15px;
    width: 110px;
    height: 55px;
    padding: 12px;
  cursor: pointer;
  background: linear-gradient(to right, #239ea7 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.button:hover {
  background-position: left bottom;
  color:white;  
}

.text {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px; 
  color: #301155;
  transition: all .6s ease-out;
}

.text:hover {
  color:white;  
}