


body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background:#000;
}

/* header */

.navigation{
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
.logo{
  text-align: center;
}
.logo h1{
  font-family: cursive;
  padding-left:30px;
  margin: 10px 0px;
  text-align: center;
  color: rgb(17, 15, 15);
  text-shadow: 2px 2px #640a16f5;

}
.menu ul{
  display:inline-flex;
  list-style: none;
  text-transform: uppercase;
}
.menu ul li a{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-right:25px;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.7ch;
  padding-left: 50px;
  line-height: 2;
  color:#fff;
}
.menu ul li a:hover{
  color: #640a16f5;
  transition: 3s;
}

/* header */

/* <!-- hero section --> */
.hero-row{
  width: 100%;
height: 700px;
}
.hero-row{
  display: flex;
}
.hero-row .col1{
  width: 50%;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  }
  .hero-row .col1 h1{
    padding-top: 60px;
    font-size: 100px;
    color: #eb0423af;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    align-items: center;
    text-align: end;
    opacity: 0.6;
    animation: shadow 5s infinite;
    text-shadow: #07478371 2px 3px;
    }
    @keyframes shadow {
      0%{
        color: #eb0423af;
      
        text-shadow: #0747836e 2px 3px;
      }
      20%{
        color: #eb0423af;
        display: block !important;
        text-shadow: #05c95075 2px 3px;
        
      }
      60%{
        display: block;
        color: #eb0423af;
        text-shadow: #0747836e 2px 3px;
      }
      80%{
        color: #eb0423af;
        text-shadow: #05c95075 2px 3px;
      }
      100%{
        color: #eb0423af;
        text-shadow: #0747836e 2px 3px;
      }
     
    }
.hero-row .col2{
  width: 50%;

}
.hero span h1{
  margin-top: -120px;
}
.hero-row .col2 img{
  width: 550px;
    position: absolute;
    right: 0;
    margin-top: -120px;
    object-fit: cover;
    opacity: 0.4;
    border-radius: 20px 20px 20px 90px;
    animation: ajay 3s ease-in-out 1s;
  }
  @keyframes ajay {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }100%{
      opacity: 0.3;
    }
  }
  .hero-row .col2 img:hover{
    filter: sepia(1);
    transition: 2s;
    }


/* <!-- hero section --> */

/* section two */
.section-two{
  background: rgba(248, 3, 23, 0.24);
  color: antiquewhite;
  padding: 20px 40px;
}
.section-two h1{
  
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.divider{
  margin-bottom: 3%;
  height:2px;
  background-color: #000;
  align-items: center;
  justify-content: center;
}
.section-two p{
  text-align: justify;
  font-size: 18px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: bisque;
  letter-spacing: 1.5px;
  line-height: 32px;
  padding: 20px 0px;
}
/* section two */

/* section-three */
.section-three{
  min-height: 100vh;
  padding: 0px 40px;
  
}
.section-three h1{
  padding-top: 50PX;
  color: white;
  text-shadow: 2px 2px red;
  text-align: center;
}

.circular-progress{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#00498f 315deg, rgb(148, 77, 77) 0deg);
  animation: progress 7s infinite;

}
@keyframes progress {
  0%{
    background: conic-gradient(#00498f 0deg, rgb(148, 77, 77) 0deg);
  }
  5%{
    background: conic-gradient(#00498f 110deg, rgb(148, 77, 77) 0deg);
  }
  20%{
    background: conic-gradient(#00498f 200deg, rgb(148, 77, 77) 0deg);
  }
  30%{
    background: conic-gradient(#00498f 250deg, rgb(148, 77, 77) 0deg);
  }
  40%{
    background: conic-gradient(#00498f 300deg, rgb(148, 77, 77) 0deg);
  }
  100%{
    background: conic-gradient(#00498f 315deg, rgb(148, 77, 77) 0deg);
  }
  
}
.circular-progress::before{
  content: " ";
  z-index: 999;
  position: absolute;
  width: 210px;
  height: 210px;
  background-color: #868f00;
  border-radius: 50%;
}